.article {
    .spacing(padding, bottom, 2);
    .spacing(margin, bottom, 2);     
}

.description {
    .spacing-vertical(margin);
}


#page-article {
    h1 {
        .size-up(9);
        font-size: @calculated-size;       
    }
    
    h2 {
        .size-up(6);
        font-size: @calculated-size;  
    }
    
    h3 {
        .size-up(3);
        font-size: @calculated-size;  
    }
}

.note-additional {
    .hide;
}

.share {
    .centered;
    width: 184px;
	.clear;
}