body {
    .spacing-zero;   
    color: @colour-black;
    .font-base;
    font-size: @size-base;  
    border-top: 2px solid @colour-violet;    
}

::selection,
::-moz-selection
{
    color: @colour-white;
    background: @colour-green;
    
}
  
h1 {  
    .heading;
    .size-up(6);
    font-size: @calculated-size;    
    .spacing(margin, top, 0);    
    .spacing(margin, bottom, 4, -1);    
}

h2 {    
    .heading;
    .size-up(4);
    font-size: @calculated-size;      
    .spacing(margin, top, 2);    
    .spacing(margin, bottom, 2, -1);    
}

h3 {   
    .heading;
    .size-up(3);
    font-size: @calculated-size;      
    .spacing(margin, top, 2);    
    .spacing(margin, bottom, 1, -1);    
}

a {
    color: @colour-violet;   
}

p, ul, ol {    
    .size-down(0);  
    line-height: @calculated-size * 1.5;
    font-size: @calculated-size;
    
    .spacing(margin, top, 0);    
    .spacing(margin, bottom, 2, -1);
}

ul {
    list-style: url(../img/bullet.png);
    .spacing(padding, left, 1);
}

img {
    border: none;
}

pre {
    border-top: @border-style-1 @colour-black;
    border-bottom: @border-style-1 @colour-black;
    .spacing-vertical(padding, 1);
    .spacing-horizontal(padding, 1);
    background: @colour-lightgrey;   
}